
/** Styling for main grid **/

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sidebar {
  grid-column: 1;
  grid-row:1 / span 2;
}

.main-content {
  display: grid;
  grid-column: 2;
  grid-template-columns: 3fr 1fr;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: span 2;
}

.announcements {
  grid-column: 2;
}

.trending {
  grid-column: 2;
}